*{
    background-color: whitesmoke;
    box-sizing: border-box;
}
.main{
    display: flex;
    background-color:  rgb(231, 234, 236);
    height: 100vh;    
    width: 100vw;
    padding: 2rem;

}

.tabs{
    background-color: rgb(231, 234, 236);
    width: 200px;
    border-right: 1px solid rgb(231, 234, 236);
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 1 0;
    height: 100%;
    box-shadow: gray 2px 1px 5px 2px;
    display: flex;
}

.chat{
    flex: 1 1 0;
    height: 100%;   
    border: 1px solid rgb(231, 234, 236); 
    overflow: scroll;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    /* height: 1000px; */
    
}

.activity{
    height: 100%;
    flex: 1 1 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    border: 1px solid rgb(231, 234, 236); 
    color: rgb(29, 28, 28);
    box-sizing: border-box;
}
.tabs{
    height: 100%;
}
.uptabs{
    background-color:  rgb(231, 234, 236);
}
.netflix-icon{
    background-color:  rgb(231, 234, 236);
    margin-bottom: 5rem;

    width: 50%;

}
.tabsflex{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 0;
    height: 100%;
    background-color:  rgb(231, 234, 236);
}

.netflix-icon{
    margin-top: 2rem;;
}
.netflix-icon b{
    background-color:  rgb(231, 234, 236);
    font-size: 2rem;
    fill: rgb(231, 234, 236);
    color: crimson;
}

ul.uptabs{
    margin-block: 0;
    padding: 0;
}
.uptabs{
    background-color:  rgb(231, 234, 236);
    list-style: none;
    margin: 0;
}

.uptabs li.t{
    background-color:  rgb(231, 234, 236);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: rgb(83, 80, 80);
    margin-left: 0;

}
.svg{
    background-color: rgb(231, 234, 236);
}

.downtabs{
    background-color:  rgb(231, 234, 236);
}

.downtabs p.d{
    background-color:  rgb(231, 234, 236);
    font-size: 1.2rem;
    color: rgb(83, 80, 80);
}



p.sam img{
    border-radius: 20%;
}

.case{
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgb(231, 234, 236);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
}

.case-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.case-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.case-right img {
    border-radius: 30px;
    border: 1.5px solid rgb(230, 226, 226);
}
.client-name b{
    font-size: 1.5rem;
}

.status b{
    color: orange;
    background-color: rgb(247, 236, 188);
    border-radius: 20px;
    width: 20%;
    padding: 5px;
    justify-self: center;
}

.casenum{
    font-size: 1.2rem;
    align-self: flex-start;

}

.client{
    display: grid;
    flex: 1 1 0;
    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr 1fr ;
    border-bottom: 1.5px solid rgb(230, 226, 226);
    height: 50px;
    align-content: center;
    padding: 1rem;
}

img.client-img2{
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 0.2rem;
    align-self: center;
    position: relative;
}

img.wa{
    top: 100px;
    z-index: 1;
    border-radius: 40px;
    left: 35px;
    position: absolute;
}

.client-data{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 0.75rem;
    color: grey;
    height: 15px;
    align-self: center;
    /* margin-left: 40px; */
    margin-block: 0;
}

.clientn{
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 1.5rem;
    margin-block: 0;
    align-self: center;
    /* margin-left: 40px; */
}

.chat-w-client{
    overflow: scroll;
    overflow-y: auto;
    width: 100%;
}
.tv1{
    display: flex;
    /* place-content: center; */
    width: 50%;
    margin-left: 20px;
    margin-top: 100px;
    height: 160px;
}
.tvicon1{
    position: relative;
    align-self: flex-end;
    height: 160px;
}
.tvicon1 .tv-logo{
    border-radius: 30px;
    background-color: rgb(244, 207, 20);
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 125px;
    /* margin-top: 10px; */
    align-self: flex-end;
}
.tvicon1 .wa2{
    position: absolute;
    left: 20px;
    top: 150px;
    border-radius: 10px;
}
.call1{
    display: flex;
    margin-top: 100px;
    width: 60%;
    margin-bottom: 0px;
    border: 2px solid rgb(231, 234, 236);
    border-radius: 20px ;
    padding: 1rem;
    box-sizing: border-box;
    color: rgb(55, 54, 54);
    align-items: center;
}

.call1 .call-logo .fa-ph{
    background-color: green;
    font-size: 1.2rem;
    border-radius: 30px;
    color: whitesmoke;
}

.fa-ph {
    animation: pulse 2s ease-in-out infinite;
  }
  @keyframes pulse {
    from{
        border: 2px solid white;
        /* padding: 8px; */
    }
    to{
        border: 2px solid rgb(130, 126, 126);
        /* padding: 10px; */
    }
  }
.call1 .calln-num{
    justify-self: center;
    margin-top: 10px;
}

.call1 .calln-num b{
    height: 20px;
    align-self: center;
}
.call1 .calln-num p{
    color: grey;
    font-size: 0.8rem;
    margin-top: 3px;
    height: 10px;
}


.tvicon2{
    position: relative;
    align-self: flex-end;
    height: 160px;
}
.tvicon2 .tv-logo{
    border-radius: 30px;
    background-color: rgb(244, 207, 20);
    font-size: 1.2rem;
    padding: 0.3rem;
    margin-top: 125px;
    /* margin-top: 10px; */
    align-self: flex-end;
}
.tvicon2 .wa2{
    position: absolute;
    left: 20px;
    top: 150px;
    border-radius: 10px;
}
.call2{
    display: flex;
    margin-top: 100px;
    width: 60%;
    margin-bottom: 0px;
    border: 2px solid rgb(231, 234, 236);
    border-radius: 20px ;
    padding: 1rem;
    box-sizing: border-box;
    color: rgb(55, 54, 54);
    align-items: center;

    padding: 0.5rem;
}

.call2 .call-logo .fa-phone2{
    background-color:grey;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 30px;
    color: whitesmoke;
}


.call2 .calln-num{
    justify-self: center;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.call2 .calln-num b{
    height: 20px;
    align-self: center;
}
.call2 .calln-num p{
    color: grey;
    font-size: 0.8rem;
    margin-top: 3px;
    height: 10px;
}


.chat1{
    display: flex;
    width: 60%;
    margin-left: 3%;
    margin-top: 100px;
    padding: 1rem;
    justify-content: space-evenly;
}

.icon1{
    position: relative;
    align-self: flex-end;
    margin-right: 5px;
}
.icon1 .w{
    border-radius: 20px;
}
.icon1 .wa2{
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 10px;
}

.msg1{
    border: 2px solid rgb(231, 234, 236);
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(55, 54, 54);
}

.msg1-time{
    font-size: 0.85rem;
    color: rgb(101, 100, 100);
    margin-top: 10px;
    margin-left: 13%;
}


.chat2{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    margin-left: 40%;
    grid-gap: 0.2rem;
}

.icon2{
    grid-row: 1/3;
    align-self: flex-end;
}

.icon2 .net{    
    border-radius: 20px;
}

.msg2 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: whitesmoke;
    background-color: rgb(20, 108, 181);
    border-radius: 20px 0px 20px 20px;
    padding: 1rem;
}
.msg3{
    grid-column: 1/2;
    grid-row: 2/3;
    color: whitesmoke;
    background-color: rgb(20, 108, 181);
    border-radius: 20px 0px 20px 20px;
    padding: 1rem;
}

.msg2-time{
    font-size: 0.85rem;
    color: rgb(101, 100, 100);
    margin-right: 10%;
}
.type{
    display: flex;
    /* z-index: 2; */
    flex-flow: row;
    height: 60px;
    align-items: flex-end;
    padding: 1rem;
    border: 1px solid rgb(230, 226, 226);
}

input.msghere{
    align-self: flex-end;
    height: 35px;
    width: 95%; 
    border-radius: 20px;
    border: 2px solid  rgb(230, 226, 226);
}

.insights ul{
    list-style: none;
}
.insights{
    padding-left: 1rem;
}

.past-issues{
    padding-left: 1rem;
}

ul.tickets {
    list-style: none;
    margin:0;
    padding: 0;
    position: relative;
}
ul.tickets   li{
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    position: relative;
}


ul.tickets li::before{
    background-color:rgb(85, 84, 84);
    width: .30%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
}

/* ul.tickets .t1::before{
    content: "T";
} */
ul.tickets .marker-t{
    background-color:rgb(85, 84, 84);
    width: 1rem;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    border-radius: 50%;
}

.show-boards{
    display: flex;
    overflow: scroll;
}

.show-boards .s{
    padding: 10px;
}

.show-boards .s img{
    border-radius: 10%;
}
.show-boards .s p{
    font-size: 0.8;
    color: rgb(90, 88, 88);
    margin-top: 8px;
}

.insights .fa-chart-line{
    color: blueviolet;
    background-color: rgb(229, 215, 243);
    padding: 8px;
    border-radius: 20px;
}

.insights .ins li{
    padding: 10px;
    font-size: 1.1rem;
}

.past-issues .fa-clock{
    color: rgb(16, 86, 236);
    background-color: rgb(212, 218, 235);
    padding: 8px;
    border-radius: 20px;
}

.past-issues .m{
    color: rgb(101, 98, 98);
}
/* 
.past-issues .t1{
    border-radius: 20px;
    border: 2px solid grey;
} */
.past-issues .t-head {
    display: flex;
    width: 90%;
    background-color: rgba(210, 210, 210, 0.707);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-left: 3%;
    border-radius: 10px 10px 0px 0px;
}

.past-issues .t-head b{
    color: whitesmoke;
    background-color: rgb(76, 146, 84);
    padding: 0.1rem;
    margin-right: 2%;
    border-radius: 5px;
}
.past-issues .t-head h3{
    background-color: rgba(210, 210, 210, 0.707);
    margin-left: 2%;

}

.past-issues .t-con {
    width: 90%;

    margin-left: 3%;
    border: 2px solid  rgb(230, 226, 226);
    border-radius: 0px 0px 10px 10px;
}

.past-issues  p.msg{
    padding: 20px 40px 10px 20px;
    margin-block: 0;
}

.past-issues p.date{
    color: grey;
    margin-left: 20px;
    margin-block: 0;
    font-size: 0.9rem;
}

.shows{
    padding-left: 1rem;
}
.help{
    padding-left: 1rem;
}
.shows .fa-tv{    color: rgb(236, 16, 20);
    background-color: rgb(243, 218, 218);
    padding: 8px;
    border-radius: 60px;
}

.call{
    position: fixed;
    bottom: 15px;
    right: 50px;
    background-color: black;
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px 10px 5px 5px ;
}

.call .profilepic{background-color: black; }

.call .profilepic img{
    border-radius: 50px;
}

.call .call-name, .call .call-name b, .call .call-status{
    color: whitesmoke;
    background-color: black;
}

.call .call-duration{
    background-color: black;
    color: green;
    font-size: 1.2rem;
}
.call .call-button{
    background-color: black;
}

.call .call-button .fa-square-phone-flip{
    color: red;
    font-size: 2rem;
    background-color: black;
}

.call .expand-button .fa-caret-up, .call .expand-button{
    color: white;
    background-color: black;
    font-size: 1.3rem;
}

.search{
    background-color: rgb(226, 225, 225);
    width: 95%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.fa-circle{
    font-size: 0.25rem;
}

.collapsible{
    overflow:visible;
    list-style: none;
    background-color: rgb(231, 234, 236);
    font-size: 1.4em;
    color: rgb(83, 80, 80);
    overflow: hidden;
}
.collapsible input{
    display: none;
}
.collapsible label{
    display: block;
    cursor: pointer;
    background-color: rgb(231, 234, 236);
    margin-left: 0px;
}
.collapse{
    display: flex;
    align-items: flex-start;
}
.collapsible label::after{
    content: "";
    width: 250px;
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    position: relative;
    top: -100%;
    opacity: 0;
    transition: all 0s ease;
}

.collapsible-text h3{
    color: black;
    text-align: center;
    background-color: rgb(219, 218, 218);
    border-bottom: 1px solid white;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 95%;
    padding: 25px;
    margin-top: 50px;
    margin-left: 200px;
    z-index: 2;
    position: absolute;
    top: 200;
    opacity: 1;
    top: 0;
    overflow: scroll;
    background-color: rgb(219, 218, 218);
}

.box{
    border: 1px solid rgb(231, 234, 236) ;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
}

.box p{
    color: grey;
    margin-top: -5px;
}

.tick-box{
    border: 1px solid rgb(231, 234, 236) ;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.tick-box .small{
    font-size: 0.9rem;
}

.tick-box .fa-user{
    color: black;
    background-color: rgb(240, 200, 56);
    padding: 10px;
    border-radius: 50%;
}

.collapsible input:checked .tabsflex{
    background-color:  rgb(231, 234, 236);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: rgb(83, 80, 80);
    margin-left: -20%;
}

.sam{
    display: flex;
    background-color: rgb(231, 234, 236);
    align-items: center;
    justify-content: space-evenly;
}

.sam p{     background-color: rgb(231, 234, 236)}

.sam img{ border-radius: 20%;}
.tickets{
    position: relative;
}
.tickets li.t-head::before{
    display: inline-block;
    content: '\54';
    position: absolute;
    left: -1rem;
    background-color: gray;
    padding: 1rem;
}
